*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html,body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cccccc18;
}
.box{
    width: 380px;
   
    background-color: white;
    text-align: center;
    box-shadow: 0px 10px 30px 0.1px black;
    min-height:  40vh;
    border-radius: 10px;
    border-bottom: 5px solid dodgerblue;
    border-top: 5px solid crimson;
}
.box h1{
    font-size: 26px;
    margin-top: 20px;
   color:blue
   
    
}
.box input{
    margin-top: 16px;
}
.box input{
   height: 40px;
    margin-right: 14px;
    width: 50%;
    padding-left: 10px;
    font-weight: bolder;
}
.box #btn1{
position: relative;
top:8px;
bottom: 8px;
right: 10px;
    width: 14%;
    height: 40px;
    background-color: blue;
    color: white;
   border: none;
   padding: 4px;
    
}

input::placeholder{
    font-weight: bolder;
}

ul li {
    list-style: none;
    padding: 8px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    margin-left: 60px;
    background-color: #0e0a0a0e;
    margin-top: 10px;
    margin-bottom: 5px;
    
}
li #del{
    background-color: crimson;
    color: white;
    border: none;
    height: 30px;
    width: 60px;
}
@media (max-width:322px) {
    .box{
        width: 300px;
    };
       
}
@media (max-width:322px) {
    ul li{
        width: 68%;
        position: relative;
        right: 15px
    };
       
}
